{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Home Page</h1>
    <ul>
        <li><a href="{{ path('product_index') }}" >Products</a></li>
        <li><a href="{{ path('category_index') }}" >Categories</a></li>

    </ul>
{% endblock %}
