{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h1>Home Page</h1>
    <ul>
        <li></li><a href="{{ path('login') }}" >Login</a></ul></li>

    </ul>
{% endblock %}
